.todo-list .task-container {
	margin-bottom: 10px;
	margin-left: 0px;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	height: auto;
	background-color: navajowhite;
}

.todo-list .text-fields {
	width: 73%;
}

.todo-list .buttons {
	width: 27%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.todo-list .task-name {
	padding-top: 7px;
	padding-left: 5px;
}

.todo-list hr.horizontal {
	border-width: 1px 0 0 0;
	border-color: black;
	width: 100%;
}

.todo-list .vertical-line {
	width: 0.5px;
	background-color: black;
	height: auto;
}

.todo-list .task-desc textarea {
	border: none;
	background-color: transparent;
	margin-bottom: 7px;
	padding: 0px 5px;
	overflow: hidden;
	overflow-wrap: break-word;
	resize: none;
	width: 98%;
}

.todo-list .task-desc textarea:placeholder-shown {
	font-style: italic;
}

.todo-list .task-desc textarea::selection {
	background: slategray;
	color: white;
}

.todo-list button {
	background-position: center;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-size: 21px;
	background-color: white;
	background-repeat: no-repeat;
}

.todo-list button:hover {
	border-color: white;
}

.todo-list .priority-button {
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
}

.todo-list .check-button {
	background-image: url(./images/check_icon.jpg);
}

.todo-list .delete-button {
	background-image: url(./images/trash_icon.jpg);
	background-size: cover;
}